<div class="navbar navbar-default navbar-expand-lg">
  <button
    class="navbar-toggle"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">ngEvents</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li>
          <a
            routerLinkActive="active"
            [routerLink]="['/events']"
            [routerLinkActiveOptions]="{ exact: true }"
            >All Events</a
          >
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['/events/new']"
            >Create Event</a
          >
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let event of events">
              <a
                routerLinkActive="active"
                [routerLink]="['/events', event.id]"
                >{{ event.name }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a routerLinkActive="active" [routerLink]="['user/profile']"
              >Welcome Adama</a
            >
          </li>
        </ul>
      </div>
      <form id="searchForm" class="navbar-form navbar-right">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Sessions"
          />
        </div>
        <button class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</div>
