<h1>New Event</h1>
<hr />
<div class="col-md-6">
  <form
    #newEventForm="ngForm"
    (ngSubmit)="saveEvent(newEventForm.value)"
    novalidate
  >
    <div
      class="form-group"
      [ngClass]="{ error: name.touched && name.getError('required') }"
    >
      <label for="name">Event Name:</label>
      <input
        [(ngModel)]="newEvent?.name!"
        name="name"
        #name="ngModel"
        required
        id="name"
        type="text"
        class="form-control"
        placeholder="Name of your event..."
      />
      <em *ngIf="name.invalid && name.touched">Required</em>
    </div>
    <div class="form-group">
      <label for="date">Event Date:</label>
      <input
        [(ngModel)]="newEvent?.date!"
        name="date"
        #date="ngModel"
        required
        id="date"
        type="text"
        class="form-control"
        placeholder="format (mm/dd/yyyy)..."
      />
      <em *ngIf="date.invalid && date.touched">Required</em>
    </div>
    <div class="form-group">
      <label for="eventTime">Event Time:</label>
      <input
        [(ngModel)]="newEvent?.time!"
        #time="ngModel"
        name="time"
        required
        id="eventTime"
        type="text"
        class="form-control"
        placeholder="start and end time..."
      />
      <em *ngIf="time.invalid && time.touched">Required</em>
    </div>
    <div class="form-group">
      <label for="eventPrice">Event Price:</label>
      <input
        [(ngModel)]="newEvent?.price!"
        #price="ngModel"
        name="price"
        required
        id="eventPrice"
        type="number"
        class="form-control"
        placeholder="event price..."
      />
      <em *ngIf="price.invalid && price.touched">Required</em>
    </div>

    <div ngModelGroup="location" #locationGroup="ngModelGroup" validateLocation>
      <div class="form-group">
        <label for="address">Event Location:</label>
        <input
          [(ngModel)]="newEvent?.location?.address!"
          name="address"
          id="address"
          type="text"
          class="form-control"
          placeholder="Address of event..."
        />
      </div>
      <div class="row">
        <div class="col-md-6">
          <input
            [(ngModel)]="newEvent?.location?.city!"
            name="city"
            id="city"
            type="text"
            class="form-control"
            placeholder="City..."
          />
        </div>
        <div class="col-md-6">
          <input
            [(ngModel)]="newEvent?.location?.country!"
            name="country"
            id="country"
            type="text"
            class="form-control"
            placeholder="Country..."
          />
        </div>
      </div>
      <em *ngIf="locationGroup.invalid && locationGroup.touched"
        >Enter either a full location or an online url</em
      >
    </div>

    <div class="form-group">
      <label for="onlineUrl">Online Url:</label>
      <input
        [(ngModel)]="newEvent?.onlineUrl!"
        name="onlineUrl"
        (change)="
          locationGroup.control.controls['address'].updateValueAndValidity()
        "
        id="onlineUrl"
        type="text"
        class="form-control"
        placeholder="Online Url..."
      />
    </div>
    <div class="form-group">
      <label for="imageUrl">Image:</label>
      <input
        [(ngModel)]="newEvent?.imageUrl!"
        #imageUrl="ngModel"
        name="imageUrl"
        required
        pattern=".*\/.*.(png|jpg)"
        id="imageUrl"
        type="text"
        class="form-control"
        placeholder="url of image..."
      />
      <em
        *ngIf="
          imageUrl.invalid && imageUrl.touched && imageUrl.errors!['required']
        "
        >Required</em
      >
      <em *ngIf="imageUrl.invalid && imageUrl.touched"
        >Must be a png or jpg url</em
      >
      <img
        *ngIf="imageUrl.value"
        [src]="imageUrl.value"
        alt="event image"
        width="250"
        height="200"
      />
    </div>

    <button
      type="submit"
      [disabled]="newEventForm.invalid"
      class="btn btn-primary"
    >
      Save
    </button>
    <button type="button" class="btn btn-default" (click)="cancel()">
      Cancel
    </button>
  </form>
</div>
